* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #eee;
}
.footer {
    width: 15%;
    margin-top: 20px;
    text-align: center;
}
.footer span {
    font-style: italic;
    font-size: 16px;
    margin-top: 10px;
    display: block;
}
.footer ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.footer ul li a i {
    font-size: 38px;
}

.wrapCode {
    margin-bottom: 20px;
    width: 300px;
    min-height: 200px;
    background-color: rgb(0, 0, 51);

    border-radius: 10px;
    padding: 30px;

    position: relative;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.wrapCode pre {
    color: #fff;
}

.button {
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
}

table tr td {
    padding: 10px;
}

#copy {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 10px 10px;
    border-radius: 5px;

    background: rgb(0, 124, 31);
    color: #fff;
    border: none;

    cursor: pointer;
}
#copy:hover {
    background-color: rgb(0, 90, 23);
}

@media (max-width: 767px) {
    .footer {
        width: 50%;
        margin-top: 10px;
    }
    .footer span {
        font-size: 14px;
    }
}
